<a href="https://colab.research.google.com/github/lamancea/Adam_INFO3020_Spring2020/blob/master/%5CWeek4%5CAssignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#problem 1

day=int(input("please enter a number from 0 to 6-"))

if day == 0:
  print("Sunday")
elif day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
else:
  print("Invalid entry")

please enter a number from 0 to 6-9
Invalid entry

In [12]:
#problem 2

import math
hypotenuse=math.sqrt(int(input("Enter the length of the first side of the triangle "))**2+int(input("Enter the length of the other side "))**2)
print("The length of the hypotenuse is "+ str(hypotenuse))

Enter the length of the first side of the triangle 3
Enter the length of the other side 4
The length of the hypotenuse is 5.0

In [14]:
#problem 3

a=int(input("Please enter the length of the first side "))
b=int(input("Please enter the length of the second side "))
c=int(input("Please enter the length of the third side "))

if a**2+b**2==c**2:
  print("These are the dimensions of a right triangle")
else:
  print("These are not the dimensions of a right triangle")

Please enter the length of the first side3
Please enter the length of the second side5
Please enter the length of the third side6
These are not the dimensions of a right triangle

In [17]:
#problem 4

for i in ("January","February","March","April","May","June","July","August","September","October","November","December"):
  print("One month of the year is "+i)

One month of the year is January
One month of the year is February
One month of the year is March
One month of the year is April
One month of the year is May
One month of the year is June
One month of the year is July
One month of the year is August
One month of the year is September
One month of the year is October
One month of the year is November
One month of the year is December

In [20]:
#problem 5

total=0
product=1

for i in(12,10,32,3,66,17,42,99,20):
  total+=i
  product*=i

print(total)
print(product)

301
1074879590400

In [0]:
#problem 6

import turtle

window=turtle.Screen()
a=turtle.Turtle()
a.shape("turtle")
for i in range(3):
    a.forward(50)
    a.right(120)

b=turtle.Turtle()
b.shape("turtle")
b.penup()
b.backward(100)
b.pendown()
for i in range(6):
    b.forward(50)
    b.right(60)

window.mainloop()

In [0]:
#problem 7

import turtle

window=turtle.Screen()
drunk_pirate=turtle.Turtle()
drunk_pirate.shape("turtle")
for i in (160,-43,270,-97,-43,200,940,17,-86):
    drunk_pirate.right(i)
    drunk_pirate.forward(100)

window.mainloop()

In [23]:
#problem 8

count=0

for i in range(1000):
  if i%2==0:
    count+=1

print(count)

500