<a href="https://colab.research.google.com/github/lamancea/Adam_INFO3020_Spring2020/blob/master/INFO3020_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# #1
def funprint():
  x=str(input("please input a string:"))
  print(x)
funprint()

please input a string:blah blah
blah blah

In [15]:
# #2
sm=0
for i in range(1001):
  if i%2==0:
    sm=sm+i
print(sm)

250500

In [18]:
# #3
def numprod(numbers):
  x=1
  for i in numbers:
    if type(i) is list:
      x=x*numprod(i)
    else:
      x=x*i
  return x

numbers=[12,10,3,2,[6,[7,8,9],19,21],21]
print(numprod(numbers))

18243429120

In [0]:
# #4
import numpy as np
def matrout(matrx):
  narry=np.array(matrx)
  narry[narry>20]=0
  with open('result.txt','w') as myfile:
    myfile.write(str(narry))
matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]
matrout(matrix)

In [27]:
# #5
def numcnt(numbers):
  d={}
  for i in range(len(numbers)):
    c=0
    for y in range(len(numbers)):
      if numbers[i]==numbers[y]:
         c+=1
    d[numbers[i]]=c
  for key in d:
    print(key,' ',d[key])
numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]
numcnt(numbers)

1   2
3   9
2   17
4   6
32   1
5   1

In [36]:
# #6
class Point:
  def __init__(self,x=0,y=0):
    self.x=x
    self.y=y
 
  def __str__(self):
    return "The Point is ({0},{1})".format(self.x,self.y)

  def __add__(self,other):
    return Point(other.x+self.x,other.y+self.y)



p1=Point(1,3)
p2=Point(3,4)
print(p2)
print(p1+p2)

The Point is (3,4)
The Point is (4,7)

In [0]:
# #7
import pandas as pd
def itemsales():
    filename = "catering_sale_all.xls"
    data = pd.read_excel(filename,index='sale date')
    d={}
    dn={}
    x=0
    for lines in data:
      if lines!='sale date':
        x+=1
        dn[x]=lines
        d[lines]=data[lines].sum()
    print('0 Exit')
    x=0
    for i in d:
      x+=1
      print(x,i)
    inp=int(input('please input a number from the list:'))
    if 0<inp<11:
      print('the total sale of {0} is {1}'.format(dn[inp],d[dn[inp]]))
      itemsales()
    
    
itemsales()

In [0]:
# #8
import pymysql
def getavglife(cont):
    worlddb = pymysql.connect("localhost", "root", "bkite123", "world")
    cursor = worlddb.cursor()
    sql = "select avg(LifeExpectancy) from country where continent=%s"
    command = cursor.execute(sql,cont)
    results = cursor.fetchone()
    worlddb.close()
    return results
def resavglife():
    continents=('North America','Asia','Africa','Europe','South America','Oceania','Antarctica')
    print('avglife  :  continent')
    for nm in continents:
        print(getavglife(nm)[0],'  :  ',nm)
resavglife()

In [0]:
# #9
import pymysql
from pylab import *
def connworld(sql,cont):
    worlddb = pymysql.connect("localhost", "root", "bkite123", "world")
    cursor = worlddb.cursor()
    command = cursor.execute(sql,cont)
    results = cursor.fetchone()
    worlddb.close()
    return results


def totpopbycon(continents):

    d=[]
    for i in range(len(continents)):

        sql = "select sum(Population) from country where continent=%s"
        d.append(int(connworld(sql,continents[i])[0]))
    return(d)

def piechrtpop():
    continents=('North America','Asia','Africa','Europe','South America','Oceania','Antarctica')
    pop=totpopbycon(continents)
    pie(pop,explode=(0.1,0.1,0.1,0.1,0.1,0.1,0.1),labels=continents,autopct='%1.1f%%',startangle=90)
    title('population by continent')
    show()




piechrtpop()

In [0]:
# #10
import pandas as pd
import matplotlib.pyplot as plt

filename="energy-production.csv"
reader=pd.read_csv(filename)

x=[]
def getyear(year):
  for index,rows in reader.iterrows():
   if rows.Year==year:
     for i in rows:
        x.append(i)
    
def bargrph():
  y=reader.columns
  getyear(int(input('please input a year between 1973 and 2014: ')))
  plt.figure(figsize=(12, 5)) 
  plt.xticks(rotation=-15)         
  plt.bar(y[2:],x[2:])
  plt.show()
bargrph()